.dragonBox {
    border-radius: 10px;
    margin-top: -15px;
    padding-top: 60px;
    min-height: 350px;
    padding-left: 65px;
    padding-bottom: 25px;
}

.dragonContainer {
    background-color: #e2efff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.catBoxLarger {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 100px;
    padding-left: 65px;
    padding-bottom: 110px;
}

.offerContainer {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}
