@font-face {
    font-family: "Quicksand";
    src        : url("Quicksand-Medium.ttf");
  }


body {
	margin: 0;
	font-family: Quicksand;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

div.shadow-lg {
  border-radius: 10px;
}


/**************** my buttons *****************/

.red-button {
    background: #f24141;
    background-image: linear-gradient(to right, #f95300, #f24141);
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }

  .purple-button {
    background: #f24141;
    background-image: linear-gradient(to right, #982a9e, #4d1675);
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: none;
	transition: 0.5s;
  }

  .purple-button:hover {

	background-image: linear-gradient(to right,#4d1675, #4d1675);

  }


  

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}