/************* MENU *****************/


.menu {
  cursor: pointer;
  color: #000000;
  background: #ffffff;
  width: 50px;
  height: 50px;
  padding: 12.5px;
  border-radius: 50px;
  position: absolute;
  right: 5%;
  top: 40px;
  transition: 0.3s;
}

    
.menu:hover {
  transform: scale(1.1);
}

.firstItem {
  top: 110px;
}

.secondItem {
  top: 180px;
}


div.tooltip-inner {
  background: #ffffff;
  box-shadow: 0px 1px 25px -9px rgba(0,0,0,0.75);
  color:#000000;
}

.tooltip-arrow::before{
  display: none;
}

	.mainContainer {
		padding-top: 100px;
	}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

div.shadow-lg {
  border-radius: 10px;
}


/**************** my buttons *****************/

.red-button {
    background: #f24141;
    background-image: linea7r-gradient(to right, #f95300, #f24141);
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }

  .purple-button {
    background: #f24141;
    background-image: linear-gradient(to right, #982a9e, #4d1675);
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: none;
	transition: 0.5s;
  }

  .purple-button:hover {

	background-image: linear-gradient(to right,#4d1675, #4d1675);

  }



/********* PRE ***********/

pre {
  border: solid grey 1px;
  padding-top: 20px;
  min-width: 400px;  
  min-height: 300px;
  max-height: 500px;

}

.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

/******** RESPONSIVE **************/  

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

