body {
    background: #280028;
    overflow: hidden;
    width: 100%;
        
    background-image: url('./img/spacebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 

  }
  
  .star {
    background: #6369AA;
    box-shadow: 0 0 10px 10px #591239;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
  }
  


@font-face {
    font-family: "Quicksand";
    src        : url("Quicksand-Medium.ttf");
  }

  .btn {
      border-radius: 10px;
  }
  
body {

    font-family: Quicksand;
}

.alert {
    transition: 1s;
}


div {
    letter-spacing: 1px;
}

p {
    letter-spacing: 1px;
}

button {
    letter-spacing: 1px;   
}


.title {
    color:#4e93e8;
}

/* colors */

.c-white {
    color:#ffffff;
}

.c-yellow {

    color:#edb92a;
}
.c-black {

    color:#000000;
}


.greyBox {
        
    /*background-image: linear-gradient(180deg, #FFFFFF 0%, #F3F3F3 100%);*/
    background-color: #6369aa;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s ease-in;
    width: fit-content;
    cursor: pointer;
}

.userGames {
    position: absolute;
    top: 17%;
    right: 2%;

}

.contractBalance {
    margin-top: 20px;
}

.userBalance {

    border: solid 1px #545b99;
    border-radius: 10px;
    padding:10px;
    color:#ffffff;

}

.fundContract {

    margin-left: 50px;
    margin-top: 20px;

}

#lastgames {
 
    width:fit-content;
    min-height: 60vh;

}

nav {
    background-color: #2b1c30;
}

.gameId {
    position: absolute;
    top: -10px;
    right: 10px;
}

.purpleOverlay {
    background-image: linear-gradient(transparent -50%,#3e1949);        
}

#message {

    margin  : 10px;
    position: fixed;
    bottom  : 10px;
    z-index : 2000;
    right   : 10px;
  }
  
  .testBox {

    height: 0%;
    width: 0%;
    transition: 1s;

  }

  .oneLineText {
    white-space: nowrap;
  }

  .testTrigger {

    height: 100px;
    width: 100%;
    transition: 1s;

  }

  .reflex {

    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.2)))
  }
  
  .gamefadeOut {    
    animation: newGameAnim 2s;      
    animation-iteration-count: 1;
  }
 


@keyframes zoomAnim {
    
    0% {
        background-size: 100%;
    }
     50% {
        background-size: 130%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes newGameAnim {
    
    0% {
     
        opacity: 1;
    }

    50% {        
        margin-top: 100px;
    }

    100% {        
        position: absolute;
    }
}

